.profile-page {
    background-color: var(--white);
    padding: 10px;
    border-radius: 10px;
    min-width: 850px;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;

    button {
        width: fit-content;
    }

    form {
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*background-color: red;*/

        input,
        select,
        option {
            outline: none;
            border: thin solid grey;
            border-radius: 5px;
            padding: 10px 10px 10px 15px;
            min-width: 200px;
            font-family: Poppins, sans-serif;
        }

        input::placeholder {
            color: gray;
        }

        input:disabled {
            background-color: var(--white-link);
            border: none;
            text-align: center;
            letter-spacing: 2px;
            font-weight: bold;
        }

        div.p-img {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                object-fit: cover;
                width: 200px;
                aspect-ratio: 1/1;
            }

            label {
                right: -10;
                bottom: -10;
                width: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                border-radius: 5px;
                padding: 10px;
                background-color: var(--dark-grey);

                &:hover {
                    cursor: pointer;
                }
            }
        }


        div.p-i-container {
            display: flex;
            gap: 10px;

            div {
                display: flex;
                flex-direction: column;
                width: 100%;

                label {
                    color: var(--font-primary);
                    font-weight: bold;
                }
            }
        }


    }

}

/* ################################  Slider Styles  ############################## */

button.filter-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

nav.amazing-tabs {
    /*background-color: var(--white);*/
    border-radius: 2.5rem;
    user-select: none;
    padding: 1rem 0;
}

ul.filter-tabs {
    list-style-type: none;
    display: flex;
}

ul.main-tabs li {
    display: inline-flex;
    position: relative;
    padding: 1.5rem;
    z-index: 1;
}

.filters-container {
    overflow: hidden;
    padding: 0 3rem;
    transition: max-height 0.4s ease-in-out;
    max-height: var(--filters-container-height);
}

.filters-wrapper {
    position: relative;
    transition: opacity 0.2s ease-in-out;
    opacity: var(--filters-wrapper-opacity);
}

.filter-tabs {
    border-radius: 1rem;
    padding: 0.3rem;
    overflow: hidden;
    background-color: #c7b2f1;
}

.filter-tabs li {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 1 0 33.33%;
}

.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    flex-grow: 1;
    height: 2rem;
    padding: 0 1.5rem;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.filter-button.filter-active {
    transition: color 0.4s ease-in-out;
    color: #320249;
}

.filter-slider {
    pointer-events: none;
    position: absolute;
    padding: 0.3rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.filter-slider-rect {
    height: 2rem;
    width: 50%;
    border-radius: 0.8rem;
    background-color: var(--white);
    box-shadow: 0 0.1rem 1rem -0.4rem rgba(0, 0, 0, 0.12);
    transition: transform 0.4s ease-in-out;
    transform: translateX(var(--translate-filters-slider));
}

.slide-container {

    .section-container {
        background-color: var(--white);
        border-radius: 10px;
        padding: 20px;
        margin: 10px;

        .content-section {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;

            h2 {
                color: var(--font-primary);
                font-size: 1.4rem;
            }

            input,
            select,
            option {
                border: thin solid grey;
                outline: none;
                padding: 10px 10px 10px 20px;
                font-family: Poppins, sans-serif;
                border-radius: 5px;
            }

            button {
                min-width: 175px;
            }

            form {

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 250px;
                    /*background-color: blue;*/
                    color: var(--font-primary);
                }
            }

            &.password-div {
                form {
                    div {
                        width: 350px;
                    }
                }
            }
        }
    }
}

.password {
    display: flex;
    flex-direction: column;
}

input#password::-ms-reveal,
input#password::-ms-clear {
    display: none;
}

.password-field {
    position: relative;
    baseline-shift: 50px;
}

.password-field .show-btn {
    position: absolute;
    right: 5px;
    /*top: 50%;*/
    color: black;
    display: none;
}

.password-field .show-btn img {
    margin-right: 10px;
    width: 20px;
    aspect-ratio: 1/1;
    content: url("../../../images/icons/auth/show_pass.png");
}

.password-field .show-btn.hide img {
    content: url("../../../images/icons/auth/hide_pass.png");
}

.password-field .show-btn:hover {
    cursor: pointer;
}

.ps-indicator-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.ps-indicator-container .ps-indicator {
    display: none;
    justify-content: space-around;
    height: 10px;
}

.ps-indicator-container .ps-indicator span {
    width: 100%;
    height: 100%;
    background: lightgrey;
    border-radius: 5px;
    position: relative;
}

.ps-indicator-container .ps-indicator span.medium {
    margin: 0 3px;
}

.ps-indicator-container .ps-indicator span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.ps-indicator-container .ps-indicator span.active.weak:before { background: #ff4757; }
.ps-indicator-container .ps-indicator span.active.medium:before { background: orange; }
.ps-indicator-container .ps-indicator span.active.strong:before { background: #23ad5c; }

.ps-indicator-container .ps-text {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    display: none;
}

.ps-indicator-container .ps-text.weak { color: #ff4757; }
.ps-indicator-container .ps-text.medium { color: orange; }
.ps-indicator-container .ps-text.strong { color: #23ad5c; }