.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    background-color: #00f4fd;
}

.card-header {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.card-body {
    padding: 20px;
}

.ticket-details {
    margin-bottom: 10px;
}

.footer {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}