.rating-container {

    display: flex;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 0.3s ease-in-out;
    top: 50%;
    width: fit-content;
    height: fit-content;
    /*overflow: auto;*/
    background-color: rgba(0, 0, 0, 0.5);

    &.active {
        transform: translate(-50%,-50%) scale(100%);
    }

    .rating-content {
        .close {
            font-size: 1.5rem;
            font-weight: bold;

                &:hover {
                cursor: pointer;
            }
        }

        h6 {
            font-size: 0.7rem;
        }
    }
}

.rating-content {
    background-color: #fefefe;
    /*margin: 10% auto;*/
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.star-container {
    position: relative;
    width: 400px;
    background: var(--white);
    padding: 20px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;

    .star-widget {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;

        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        & > div > div {
            display: flex;
            justify-content: center;
        }
    }
}
.star-container .post{
    display: none;
}
.star-container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
}
.star-container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}
.star-container .edit:hover{
    text-decoration: underline;
}
.star-container .star-widget input{
    display: none;
}
.star-container .star-widget input{
    display: none;
}

.star-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star-widget > div:nth-child(1) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 1px 0;
    float: Right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
input:checked ~ label{
    color: #fd4;
}
.star-container .form1{
    display: none;
}
input:checked ~ .form1{
    display: block;
}
input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ .form1 header:before{
    content: "I just hate it ";
}
#rate-2:checked ~ .form1 header:before{
    content: "I don't like it ";
}
#rate-3:checked ~ .form1 header:before{
    content: "It is awesome ";
}
#rate-4:checked ~ .form1 header:before{
    content: "I just like it ";
}
#rate-5:checked ~ .form1 header:before{
    content: "I just love it ";
}
.form1 header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}
.form1 .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.form1 .textarea textarea{
    height: 100px;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}
/*reservation.css*/
.reservation-section {
    width: 100%;
    flex-direction: column;
    justify-content: center;


    .res-container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        border-radius: 5px;
        overflow-y: auto;


        .res-out {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: white;
            border-radius:5px;
            overflow: hidden;


            .upper {
                background-color: whitesmoke;
                padding: 10px;
                display: grid;
                grid-template-columns: 200px 250px 200px auto;
                justify-items: left;

                div:nth-child(4) {
                    justify-self: right;
                }

                div {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
            }

            .lower {
                padding: 10px;
                display: grid;
                grid-template-columns: 2fr 1fr 1fr;
                justify-items: left;
                background-color: white;
                border-top: 2px solid darkgrey;

                div {
                    width:70%;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: space-between;

                    div {
                        display: flex;
                        margin: 0;
                        padding: 0;
                        justify-content: left;
                        gap: 15px;
                    }
                }
            }
        }
    }
}
/*.overlay{*/
/*    position: fixed;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    top:0;*/
/*    left: 0;*/
/*    background-color: lightgray;*/
/*    z-index: 4;*/
/*    display: none;*/
/*    pointer-events: none;*/
/*}*/