/* COMMON MESSAGE STYLES */
.message {
    max-width: 90%;
    width: fit-content;
    color:white;
    overflow: hidden;
    min-height: 54px;
    height: fit-content;
    /*border-radius: 10px;*/
}

.message .m-meta .m-time {
    width: 100%;
    font-size: 0.7rem;
    text-align: right;
}

.message .m-meta .m-date {
    width: 100%;
    font-size: 0.7rem;
    text-align: left;
}

.message .m-meta {
    display: flex;
    gap: 10px;
    padding: 2px 10px;
}

.message .m-content {
    border-radius: 10px;
    padding: 10px;
}


/* receiver MESSAGE */

.message.receiver {
    /*border-radius: 10px 10px 10px 0;*/
    align-self: flex-start;
}

.message.receiver .m-content {
    background-color: cornflowerblue;
}

.message.receiver .m-content{
    text-align: left;
}

.message.receiver .m-meta .m-time {
    /*background-color: dodgerblue;*/
    text-align: left;
}

/* sender MESSAGE */

.message.sender {
    /*border-radius: 10px 10px 0 10px;*/
    align-self: flex-end;
}

.message.sender .m-content {
    background-color: mediumpurple;
}

.message.sender .m-content{
    text-align: right;
}

.message.sender .m-meta .m-time {
    /*background-color: rebeccapurple;*/
    text-align: right;
}