* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #f5f8ff;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}
#search-container {
    margin: 0.5em 0;
    padding: 0.5em;
}
#search-container input {
    background-color: transparent;
    width: 45%;
    border-bottom: 2px solid #110f29;
    padding: 0.5em 0.3em;
    color: #FFFFFF;
}
#search-container input:focus {
    border-bottom-color: #7b51d3;
}
#search-container button {
    padding: 0.8em 2em;
    margin-left: 1em;
    background-color: #7b51d3;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.3em;
}
.button-value {
    padding: 10px 40px;
    background: #7b51d3;
    color: var(--font-secondary);
    border-radius: 5px;
    max-height: fit-content;
    border: none;
    outline: none;
    transition: 0.3s;
    width: 140px;
}

#buttons button:not(.active) {
    color: black;
}

#button button.active {
    background-color: #7b51d3 !important;
    color: #ffffff !important;
}

.select-menu-container {
    position: relative;
    width: 100% ;
    display: flex;
    justify-content: flex-end;
}

.select-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 300px;
}

.select-menu .select-btn {
    display: flex;
    height: 55px;
    background: #c1abec;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 20px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    background: #c1abec;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
    width: 300px;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 35px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    align-items: center;
    background: #c1abec;
}

.options .option:hover {
    background: #f2f2f2;
}

.option i {
    font-size: 20px;
    margin-right: 8px;
}

.option .option-text {
    font-size: 14px;
    color: #333333;
}
