* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #f5f8ff;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}
#search-container {
    margin: 0.5em 0;
    padding:0.5em;
}
#search-container input {
    background-color: transparent;
    width: 45%;
    border-bottom: 2px solid #110f29;
    padding: 0.5em 0.3em;
    color: #FFFFFF;
}
#search-container input:focus {
    border-bottom-color: #7b51d3;
}
#search-container button {
    padding: 0.8em 2em;
    margin-left: 1em;
    background-color: #7b51d3;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.3em;
}
.button-value {
    /*border: 2px solid #7b51d3;
    padding: 0.6em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;*/
    padding: 10px 40px;
    background: #7b51d3;
    color: var(--font-secondary);
    border-radius: 5px;
    max-height: fit-content;
    border: none;
    outline: none;
    transition: 0.3s;
    width: 140px;
}
.active {
    background-color: #7b51d3;
    color: #ffffff;
}