input[type=file] {
    border: none;
}

h3 {
    font-weight: normal;
    padding-left: 10px;
    font-family: Poppins, sans-serif;
    font-size: 0.8rem;
}

#svg-01 {
    height: 1.4rem;
}

.add-btn {
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
    bottom: 20px;
    right: 20px;
    position: absolute;
    z-index: 1;
}

.add-btn:hover {
    transform: rotate(90deg);
}

/* SLIDE STYLES ---------------------------------------------------------------------------- */

.slide-container {

    .slide {
        width: 100%;
        height: 100%;
        font-family: Poppins, sans-serif;
        /*border: thin solid aqua;*/
        /*display: flex !important;*/
        justify-content: space-between;
        gap: 15px;

        label {
            font-family: Poppins, sans-serif;
            width: 100%;
            border: thin solid transparent;
            border-radius: 5px;

            &.selected {
                /*border: thin solid mediumpurple;*/

                .venue-item {
                    background-color: #cebeef;
                }
            }
        }

        /* Ticketing details */
        .ticket {
            display: flex;
            flex-direction: column;
            background-color: var(--white-link);
            width: 150px;
            padding: 5px;
            border-radius: 5px;

            img {
                border-radius: 5px;
                width: 100%;
                height: 100px;
                object-fit: cover;
            }

            h3 {
                padding: 10px;
                text-align: center;
                font-family: "Britannic Bold", sans-serif;
                font-weight: bold;
            }

            p {
                color: var(--purple-primary);
                padding-top: 10px;
            }

            input {
                width: 100%;
                padding: 10px 10px 10px 20px;
                border-radius: 5px;
                border: thin solid lightgrey;
                background-color: white;
                outline: none;
            }

            input:focus {
                border: thin solid var(--purple-secondary);
            }

            &.selected {
                background-color: var(--purple-secondary);

                h3 {
                    color: white;
                }

                p {
                    color: white;
                }

                div {
                    background-color: var(--purple-secondary);
                }
            }
        }

        &.venue-data,
        &.band-data,
        &.singer-data,
        &.ticket-data {
            flex-direction: column;
            gap: 10px;
            justify-content: start;

            .venue-item {
                border-radius: 5px;
                background-color: var(--white-link);
                padding: 5px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    width: fit-content;
                }

                input,
                select,
                option {
                    outline: none;
                    border: thin solid lightgrey;
                    background-color: white;
                    border-radius: 5px;
                    padding: 10px;
                }
            }
        }

        &.ticket-data {
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .slide-inner {
                display: flex;
                gap: 20px;
                width: 100%;
                height: 100%;
                justify-content: center;
            }

            label {
                width: fit-content;
                min-height: 350px;
            }

            .venue-item {
                padding: 20px 10px;
                flex-direction: column;
                width: fit-content;
                gap: 10px;
                height: 100%;
            }
        }

        .cover-image {
            position: relative;
            width: 80%;
            height: fit-content;
            margin-right: 30px;

            label {
                position: absolute;
                width: fit-content;
                height: fit-content;
                left: 100%;
                top: 100%;
                transform: translate(-50%, -50%);
            }

            img {
                object-fit: cover;
                width: 100%;
                min-width: 300px    ;
                max-width: 600px;
                aspect-ratio: 16/6;
            }
        }

        .details,
        .panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            width: 50%;

            &:nth-child(1) {
                border-right: thin solid lightgrey;
            }


            .item {
                display: flex;
                flex-direction: column;
                width: fit-content;
                min-width: 90%;
                /*align-items: center;*/
                gap: 5px;
                font-family: Poppins, sans-serif;

                input,
                textarea,
                select,
                option {
                    outline: none;
                    border: thin solid lightgrey;
                    background-color: white;
                    border-radius: 5px;
                    padding: 10px;
                    min-width: 80%;

                    &:focus {
                        box-shadow: none;
                    }
                }

                .error {
                    height: 15px;
                    padding-bottom: 10px;
                    color: red;
                    font-family: Consolas, Serif;
                }
            }
        }
    }

    .sp-details {
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .venue_label {
        max-height: 70px;
        overflow: hidden;

        .venue-item {
            display: grid !important;
            gap: 10px;
            grid-template-columns: 70px 100px auto !important;
            justify-content: left !important;
            overflow: hidden;

            .sp-details {
                max-height: 4em; /* Approximating 2 lines of text with 16px font size */
                overflow: hidden;
                text-overflow: ellipsis;
                /* For multi-line ellipsis */
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; /* Number of lines to show */
            }

        }
    }
}

.custom-input {
    min-width: 200px;
}

.banking-form {
    background-color: var(--white-link);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 400px;
    }

    .horizontal {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    input,
    select,
    option,
    textarea {
        min-width: 400px;
        outline: none;
        border: thin solid lightgrey;
        background-color: white;
        border-radius: 5px;
        padding: 10px;

        &:focus {
            border: thin solid var(--purple-tirtiary);
        }
    }
}

.notice {
    background-color: var(--white);
    color: var(--font-primary);
    padding: 10px;
    border-radius:10px;
    text-align: justify;
    margin: 10px;
}

.headings {
    color: var(--purple-primary);
    font-weight: bold;
}

.venue-item {

    align-items: center;

    div {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}