.ad-single {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.ad-single .ad-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    justify-content: center;
}

.ad-single .ad-container .ad-content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.ad-single .ad-content > div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ad-single .ad-image {
    max-width: 18%;
    aspect-ratio: 1 / 1;
    border: 2px solid white;
    border-radius: 5px;
}

.ad-single .ad-title > span {
    color: cornflowerblue;
    font-size: 1rem;
    font-weight: normal;
}

.ad-single .ad-cats span {
    color: blue;
}

.ad-single .ad-price > span {
    color: darkred;
}

.ad-single .ad-response > span {
    color: burlywood;
}

.ad-details {
    flex: 1;
    }

.ad-single .ad-details > span {
    color:blueviolet;
    font-size: 0.8rem;
}

.ad-single .ad-props {
    justify-content: space-between;
    font-size: 0.7rem;
}

.cats {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
}

.cats:hover {
    cursor: pointer;
}