:root {
    /* Color Palette */
    --alert-indigo: rgba(102, 16, 242, 0.5);
    --purple-primary: #5809ab;
    --purple-secondary: mediumpurple;
    --purple-tirtiary: mediumslateblue;
    --white-link: #d9daf3;
    --white: white;

    /* Status Colors */
    --status-error: #F00;
    --status-approve: rgb(57, 251, 57);
    --status-pending:  #007afa;

    /* Font Colors */
    --font-primary: black;
    --font-secondary: white;
    --font-3: lightgrey;

    /* Lien Colors */
    --line-primary: black;
}