/* Button Layout Styles */
.btn-lay {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    max-width: 200px;
}

.btn-lay-2 {
    padding: 10px 25px;
    border-radius: 5px;
    border: 2px solid cornflowerblue;
    background-color: cornflowerblue;
    transition: 0.5s;
    max-width: 200px;
    color: white;
    font-weight: bold;
}

.btn-lay-s {
    padding: 10px;
    border-radius: 20px;
    border: none;
    fill: white;
}

.btn-lay-s:hover {
    cursor: pointer;
}

/* Dropdown Styles */
.drop-down {
    display: none;
    width: 150px;
    padding: 20px 10px;
    border-radius: 10px;
    gap: 5px;
}

.drop-down > a {
    padding: 5px;
    color: black;
}

.drop-down > a:hover {
    box-shadow: 1px 1px 1px 1px black;
}

.notification {
    position: relative;
}

.notification:hover .drop-down {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.notify-red {
    border: 1px;
    border-left: 3px solid red;
}

/* Sidebar Link Layout */
.link-lay {
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
}

/* Styles for any Listing with uniform width */
.listing {
    justify-content: normal;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Background Colors */
.bg-indigo-2{background-color: var(--indigo-2)}
.bg-indigo-6{background-color: var(--indigo-6)}
.bg-black-2{background-color: var(--dark-bg)}
.bg-black-1{background-color: var(--dark-bg-2)}
.bg-gery-1{background-color: var(--dark-grey)}
.bg-indigo-alert{background-color: var(--alert-indigo)}

/* Text Align */
.txt-ali-cen {text-align: center}
.txt-ali-rig {text-align: right}
.txt-ali-lef {text-align: left}


/* Text Color */
.txt-red {color: red}
.txt-black {color: black}
.txt-white {color: white}
.txt-cornflowerblue {color: cornflowerblue}
.txt-indigo-2 {color: var(--indigo-2)}
.txt-lightgreen {color:lightgreen}

/* Display Styles */
.dis-flex {display: flex}
.dis-flex-col {display: flex; flex-direction: column}
.al-it-ce {align-items: center}
.al-it-ba {align-items: baseline}
.al-co-ce {align-content: center}
.al-co-ba {align-content: baseline}
.ju-it-ce {justify-items: center}
.ju-it-ba {justify-items: baseline}
.ju-co-ce {justify-content: center}
.ju-co-ba {justify-content: baseline}
.gap-10 {gap:10px}
.gap-20 {gap:20px}

/* Position Styles */
.pos-abs {position: absolute}
.pos-fix {position: fixed}
.pos-rel {position: relative}