* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, Calibri;
}

/* Button Layout Styles */
.btn-lay {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    max-width: 200px;
}

.btn-lay-2 {
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid var(--indigo-2);
    background-color: var(--indigo-2);
    transition: 0.5s;
    max-width: 200px;
    color: white;
    font-weight: bold;
}

.btn-lay-s {
    padding: 10px;
    border-radius: 20px;
    border: none;
    fill: white;
}

.btn-lay-s:hover {
    cursor: pointer;
}

/* Sidebar Link Layout */
.link-lay {
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
}

/* Styles for any Listing with uniform width */
.listing {
    justify-content: normal;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.input {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    font-size: small;
    font-family: Poppins ;
    transition: 0.7s;
}

.input:focus {
    outline: none;
    border-color: cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
}

fieldset {
    border-color: white;
    border-style: ridge;
}

/* START OF CUSTOM SCROLL BAR */

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: var(--indigo-2);
    border-radius: 10px;
}

/* END OF CUSTOM SCROLL BAR */


/* ----- START OF CSS FRAMEWORK ----- */

.bg-primary {background-color: mediumpurple}

/* Background Colors */
.bg-white {background-color: white}
.bg-indigo-2{background-color: var(--indigo-2)}
.bg-indigo-6{background-color: var(--indigo-6)}
.bg-black-2{background-color: var(--dark-bg)}
.bg-black-1{background-color: var(--dark-bg-2)}
.bg-grey{background-color: var(--dark-grey)}
.bg-lightgray {background-color: lightgray}
.bg-indigo-alert{background-color: var(--alert-indigo)}
.bg-trans {background-color: transparent}
.bg-

/* Text Align */
.txt-ali-cen {text-align: center}
.txt-ali-rig {text-align: right}
.txt-ali-lef {text-align: left}

/* Text Color */
.txt-c-red {color: red}
.txt-c-black {color: black}
.txt-c-white {color: white}
.txt-c-cornflowerblue {color: cornflowerblue}
.txt-c-indigo-2 {color: var(--indigo-2)}
.txt-c-green {color: green}
.txt-c-lightgreen {color:lightgreen}
.txt-w-bold {font-weight: bold}
.txt-w-bolder {font-weight: bolder}
.txt-w-normal {font-weight: normal}
.txt-d-none {text-decoration: none}

/* Display Styles */
.dis-flex {display: flex}
.dis-flex-col {display: flex; flex-direction: column}
.dis-grid-c3 {display: grid; grid-template-columns: repeat(3, 1fr);}
.dis-grid-c4 {display: grid; grid-template-columns: repeat(4, 1fr);}
.hide {display: none}
.al-it-ce {align-items: center}
.al-it-ba {align-items: baseline}
.al-it-st {align-items: stretch}
.al-co-ce {align-content: center}
.al-co-ba {align-content: baseline}
.ju-it-ce {justify-items: center}
.ju-it-ba {justify-items: baseline}
.ju-co-ce {justify-content: center}
.ju-co-sa {justify-content: space-around}
.ju-co-sb {justify-content: space-between}
.ju-co-se {justify-content: space-evenly}
.ju-co-st {justify-content: stretch}
.gap-10 {gap:10px}
.gap-20 {gap:20px}
.flex-grow {flex-grow: 1}
.flex-all > * {flex: 1}
.flex-wrap {flex-wrap: wrap}
.flex-1 {flex: 1}
.push-right {margin-left: auto}
.mar-10-auto {margin: 0 auto}

/* Width And Height Styles */
.wid-100 {width: 100%}
.min-w-400 {min-width: 400px}
.min-w-300 {min-width: 300px}
.min-w-150 {min-width: 150px}
.min-w-100 {min-width: 100px}
.wid-60 {width: 60%}
.wid-50 {width: 50%}
.wid-40 {width: 40%}

/* Overflow */
.over-hide {overflow: hidden}

/* Position Styles */
.pos-abs {position: absolute}
.pos-fix {position: fixed}
.pos-rel {position: relative}

/* Margin and Padding Styles */
.pad-0 {padding: 0}
.pad-10 {padding: 10px}
.pad-20 {padding: 20px}
.pad-10-20 {padding: 10px 20px}
.pad-5-10 {padding: 5px 10px}
.p-10-0 {padding: 10px 0}
.p-0-10 {padding: 0 10px}
.mar-0 {margin: 0}
.mar-10 {margin: 10px}
.mar-20 {margin: 20px}
.mar-10-0 {margin: 10px 0}
.mar-0-20 {margin: 0 20px}

.pb-0 {padding-bottom: 0}
.pt-0 {padding-top: 0}
.pl-0 {padding-left: 0}
.pr-0 {padding-right: 0}
.pb-10 {padding-bottom: 10px}
.pt-10 {padding-top: 10px}
.pl-10 {padding-left: 10px}
.pr-10 {padding-right: 10px}

.mar-bot-0 {margin-bottom: 0}
.mar-top-0 {margin-top: 0}
.mar-left-0 {margin-left: 0}
.mar-right-0 {margin-right: 0}
.mar-bot-10 {margin-bottom: 10px}
.mar-top-10 {margin-top: 10px}
.mar-left-10 {margin-left: 10px}
.mar-right-10 {margin-right: 10px}

/* Border Styles */
.bor-none {border: none}
.bor-rad-5 {border-radius: 5px}
.bor-rad-10 {border-radius: 10px}
.bor-1-sol-dark {border: 1px solid black}
.bor-1-sol-white {border: 1px solid white}
.bor-2-sol-dark {border: 2px solid black}

/* Font Styles */
.f-mooli {font-family: Mooli, serif}
.f-poppins {font-family: Poppins, serif}
.f-inter {font-family: Inter, Calibri, serif}
.f-space-1 {letter-spacing: 1px}
.f-space-2 {letter-spacing: 2px}
.f-space-4 {letter-spacing: 4px}
.f-space-6 {letter-spacing: 6px}

/* Hover */
.hover-pointer:hover {cursor: pointer}

/* Shadow */
.sh {box-shadow: 0 2px 5px rgba(0,0,0,0.2)}


/* SVG Fill colors */
.fill-white {fill: white}




/* ----- END OF CSS FRAMEWORK ----- */