.component-list {
    border-radius: 5px;
}

.component-list > div {
    background-color: var(--bg-primary);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    min-height: 50px;
    align-items: center;
    border-bottom: 1px solid var(--line-secondary);
}

.component-list > div:hover {
    background-color: var(--bg-secondary);
    color: var(--font-secondary);
    font-weight: bold;
}

.component-list > div:hover button {
    color: white;
    font-weight: bolder;
}

.component-list > div:first-child:hover {
    background-color: var(--bg-primary);
    color: var(--font-primary);
}

.component-list > div > p:last-child {border-right: none;}
.component-list > div > p {
    border-right: 1px solid var(--line-secondary);
    font-family: Mooli, sans-serif;
    padding: 5px;
}

.component-list > div:first-child {
    border-radius: 5px 5px 0 0;
    font-weight: bolder;
    font-size: 1.05rem;
}
.component-list > div:last-child {border-radius: 0 0 5px 5px;}

.status {
    width: 100%;
    display: flex;
    justify-content: center;
}

.status > span {
    background-color: grey;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: var(--font-secondary);
}

.status.active > span {background-color: #109CF1;}
.status.declined > span {background-color: #FF3B47;}
.status.expired > span {background-color: coral;}
.status.accepted > span {background-color: green;}


.component-list .action-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: all 0.5s ease;
}

.component-list .action-btn button {
    border: none;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}



.component-list .action-btn button:nth-child(1):hover {color: #007afa;}
.component-list .action-btn button:nth-child(2):hover {color: green;}
.component-list .action-btn button:nth-child(3):hover {color: red;}