.dashboard-main {
    display: flex;
    /*background-color: var(--bg-primary);*/
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tile-container > a {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    color: black;
    min-width: 25%;
    max-width: 25%;
}

.user-mng button {
    width: 200px;
    height: 200px;
}

.user-mng svg {
    fill: white;
}

.tile-container > a > div {
    background-color: var(--indigo-6);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tile-container > a > img {
    width: 100%;
}

.edit-button {
    margin: 0 auto;
}

.edit-button > button {
    padding: 10px 30px;
    color: white;
    background-color: cornflowerblue;
    font-weight: bold;
}

.edit-button > button:hover {
    cursor: pointer;
    background-color: coral;
}