.dashboard-main {
    display: flex;
    background-color: var(--bg-primary);
}

.dashboard-main section:nth-child(2) {
    flex: 1;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tile-container > a {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    color: black;
    min-width: 25%;
    max-width: 25%;
}

.user-mng button {
    width: 200px;
    height: 200px;
}

.user-mng svg {
    fill: white;
}

.tile-container > a > div {
    background-color: var(--indigo-6);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tile-container > a > img {
    width: 100%;
}

.edit-button {
    margin: 0 auto;
}

.edit-button > button {
    padding: 10px 30px;
    color: white;
    background-color: cornflowerblue;
    font-weight: bold;
}

.edit-button > button:hover {
    cursor: pointer;
    background-color: coral;
}

.dash-comp {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.comp {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    gap: 10px;
}

.comp div:not(.comp-icon) {
    padding-top: 10px;
}

.comp-icon {
    border-radius: 10px;
    padding: 20px;
}

.comp svg {
    height: 2.0rem;
}

.comp p {
    color: grey;
}

.comp span {
    font-weight: bolder;
    font-size: large;
}

.comp-purple {
    color: purple;
    fill: purple;
}

.comp-purple .comp-icon {
    background-color: var(--indigo-6);
}

.comp-red {
    color: red;
    fill: red;
}

.comp-red .comp-icon {
    background-color: lightpink;
}

.comp-green {
    color: green;
    fill: green;
}

.comp-green .comp-icon {
    background-color: lightgreen;
}

.comp-blue {
    color: blue;
    fill: blue;
}

.comp-blue .comp-icon {
    background-color: lightblue;
}