/* FONTS */
@import "../fonts/inter.css";
@import "../fonts/poppins.css";
@import "../fonts/mooli.css";

/* CSS FILES */
@import "sidebar.css";
@import "common.css";
@import "grid.css";
@import "navbar.css";
@import "dashboard.css";
@import "templates.css";
@import "switches.css";
@import "profile.css";
@import "ticket.css";
@import "components/reservation.css";
@import "components/venue_operator.css";
@import "components/ticket.css";
@import "alerts.css";
@import "widgets/calendar.css";
@import "widgets/slide_window.css";
@import "widgets/glass_background.css";
@import "widgets/button_styles.css";
@import "modules/forms/user_update_form.css";
@import "client/bought_tickets.css";

/*@font-face {*/
/*    font-family: 'PTSans';*/
/*    src : url('../fonts/PTSans-Regular.ttf') format('ttf');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/


/* CSS COLORS */
:root {
    --bg-primary-2: mediumpurple;
    --bg-primary: white;
    --bg-secondary: rgba(0, 0, 0, 0.5);
    /* hwb(263 6% 5%) - Previous purple */
    --indigo-2:  #007afa;
    --alert-indigo: rgba(102, 16, 242, 0.5);
    --indigo-6: #E0CFFC;
    --dark-grey: #323232;
    --dark-bg: #27282B;
    --dark-bg-2: #38393b;
    --error: #F00;
    --ok: rgb(57, 251, 57);
    --maxwidth: auto;
    --font-primary: black;
    --font-secondary: white;
    --font-3: lightgrey;
    --line-primary: black;
    --line-secondary: grey;
}

a {
    text-decoration: none;
    color: white;
}

body {
    position: relative;
    font-size: 1rem;
}

/* Signup Page Styles */

.form-container {
    display: flex;
    justify-content: center;
}

.form-container form {
    min-width: 250px;
    max-width: 300px;
    background-color: rgba(102, 16, 242, 0.4);
    padding: 25px;
    border-radius: 5px;
    gap: 20px;
}

/* Form Styles */
form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}

form div{
    width: 100%;
}

.form-input label {
    font-family: Poppins, serif;
    font-size: 1em;
}

.input-field {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--indigo-6);
    padding: 10px;
    font-size: 15px;
}

input[type=checkbox] {
    margin: 5px 5px 5px 0;
}

.form-button {
    display: flex;
    justify-content: center;
}

input[type=submit] {
    background-color: var(--indigo-2);
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    width: 75%;
    border-radius: 10px;
    border: none;
}

input[type=submit]:hover {
    cursor: pointer;
}

/* Styles for Errors */

.error-msg {
    color: var(--error);
    font-size: small;
}

.error-border {
    border: 1px solid var(--error);
}

.ok-border {
    border: 1px solid var(--ok);
}

.alert-msg {
    text-align: center;
    color: var(--indigo-6);
    background-color: var(--alert-indigo);
    border-top: 1px solid var(--indigo-6);
    border-bottom: 1px solid var(--indigo-6);
    font-size: small;
    padding: 10px;
    grid-column: span 12;
}

.text-small {
    font-size: small;
}

.link {
    text-decoration: none;
    color: var(--indigo-2);
}

.text-center {
    text-align: center;
}

.list-comp {

    margin: 10px;
}

.list-comp #req-details {
    flex: 1;
}

.list-comp > div {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.list-comp div > p {
    font-weight: bold;
}

.list-comp div button {
    border: none;
    background-color: transparent;
}

.list-comp div button:hover {
    cursor: pointer;
}

.login-form {
    position: relative;
    width: 380px;
    height: 420px;
    border-radius: 8px;
    background: var(--dark-bg);
    padding: 0;
    inset: 4px;
    z-index: 2;
    overflow: hidden;
}

.login-form form {
    position: absolute;
    width: 98%;
    inset: 4px;
    background: var(--dark-bg-2);
    padding: 38px 15px;
    margin: 0;
    border-radius: 8px;
    gap: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.login-form form h2 {
    color: white;
    font-family: Poppins, serif;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    letter-spacing:0.1em;
}

.login-form form p {
    padding: 20px 0 10px 0;
    font-size: 0.8rem;
    color: lightgrey;
}

.login-form form p a {
    color: hotpink;
}

.login-form .input-box {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.signup-form select {
    appearance: none;
}

.signup-form select::part(listbox) {
    color: blue;
    background-color: aqua;
}

.login-form .input-box input, .signup-form select {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    box-shadow: none;
    outline: none;
    color: white;
    border: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.login-form .input-box label {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.login-form .input-box input:valid ~ label, .login-form .input-box input:focus ~ label {
    color: white;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.login-form .input-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 255, 255, 0.5);
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.login-form .input-box input:valid ~ i, .login-form .input-box input:focus ~ i, .signup-form select:focus ~ i{
    height: 40px;
}

.login-form button {
    border: 2px solid deeppink;
    outline: none;
    padding: 10px 25px;
    background-color: deeppink;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    font-weight: bold;
    width: 120px;
    margin-top: 10px;
    color: var(--dark-bg-2);
    letter-spacing: 1px;
    transition: 0.5s;
}

.login-form button:hover {
    background-color: transparent;
    color: deeppink;
    border-color: deeppink;
    transform: scale(1.1);
}

.login-form button:active {
    opacity: 0.8;
}

.login-form::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, aqua, aqua, aqua);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.login-form::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, deeppink, deeppink, deeppink);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.signup-form::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 1000px;
    height: 1200px;
    background: linear-gradient(0deg, transparent, transparent, aqua, aqua, aqua);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.signup-form::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 1000px;
    height: 1200px;
    background: linear-gradient(0deg, transparent, transparent, deeppink, deeppink, deeppink);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.signup-form {
    position: relative;
    width: 968px;
    height: 1200px;
    border-radius: 8px;
    background: var(--dark-bg);
    padding: 0;
    inset: 4px;
    z-index: 2;
    overflow: hidden;
}

.signup-form form {
    width: 960px;
}

.signup-form .input-box {
    position: relative;
    width: auto;
    margin-top: 20px;
}

.signup-form fieldset {
    padding: 30px;
    border-radius: 5px;
    border: 2px solid grey;
    margin: 10px 0;
}

.signup-form legend {
    color: grey;
    font-family: Mooli, serif;
    padding: 10px;
}

.login-form .input-box.error input ~ i, .login-form .input-box.error input ~ i, .signup-form select ~ i{
    background-color: orangered;
}

#singer {
    display: none;
}

.icon {
    width: 35px;
    height: 35px;
}