/* FONTS */
@import "../fonts/inter.css";
@import "../fonts/poppins.css";
@import "../fonts/mooli.css";

/* CSS FILES */
@import "grid.css";
@import "navbar.css";
@import "dashboard.css";
@import "ads.css";
@import "templates.css";
@import "switches.css";
@import "profile.css";
@import "common.css";

/* CSS COLORS */
:root {
    --indigo-2:  hwb(263 6% 5%);
    --alert-indigo: rgba(102, 16, 242, 0.5);
    --indigo-6: #E0CFFC;
    --dark-grey: #323232;
    --dark-bg: #27282B;
    --dark-bg-2: #38393b;
    --error: #F00;
    --ok: rgb(57, 251, 57);
    --maxwidth: auto;
}

a {
    text-decoration: none;
    color: white;
}

/* Signup Page Styles */

.form-container {
    display: flex;
    justify-content: center;
}

.form-container form {
    min-width: 250px;
    max-width: 300px;
    background-color: rgba(102, 16, 242, 0.4);
    padding: 25px;
    border-radius: 5px;
    gap: 20px;
}

/* Form Styles */
form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}

form div{
    width: 100%;
}

.form-input label {
    font-family: Poppins;
    font-size: normal;
}

.input-field {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--indigo-6);
    padding: 10px;
    font-size: 15px;
}

input[type=checkbox] {
    margin: 5px 5px 5px 0;
}

.form-button {
    display: flex;
    justify-content: center;
}

input[type=submit] {
    background-color: var(--indigo-2);
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    width: 75%;
    border-radius: 10px;
    border: none;
}

input[type=submit]:hover {
    cursor: pointer;
}

/* Styles for Errors */

.error-msg {
    color: var(--error);
    font-size: small;
}

.error-border {
    border: 1px solid var(--error);
}

.ok-border {
    border: 1px solid var(--ok);
}

.alert-msg {
    text-align: center;
    color: var(--indigo-6);
    background-color: var(--alert-indigo);
    border-top: 1px solid var(--indigo-6);
    border-bottom: 1px solid var(--indigo-6);
    font-size: small;
    padding: 10px;
    grid-column: span 12;
}

.text-small {
    font-size: small;
}

.link {
    text-decoration: none;
    color: var(--indigo-2);
}

.text-center {
    text-align: center;
}

.list-comp {

    margin: 10px;
}

.list-comp #req-details {
    flex: 1;
}

.list-comp > div {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.list-comp div > p {
    font-weight: bold;
}

.list-comp div button {
    border: none;
    background-color: transparent;
}

.list-comp div button:hover {
    cursor: pointer;
}