/* FONTS */
/*@import "../fonts/inter.css";*/
/*@import "../fonts/poppins.css";*/
/*@import "../fonts/mooli.css";*/

/* CSS FILES */
@import "sidebar.css";
@import "common.css";
@import "grid.css";
@import "components/navbar.css";
@import "dashboard.css";
@import "templates.css";
@import "switches.css";
@import "profile.css";
@import "ticket.css";
@import "components/reservation.css";
@import "components/venue_operator.css";
@import "modules/chats/linker.css";
@import "alerts.css";
@import "widgets/linker.css";
@import "modules/forms/user_update_form.css";
@import "client/bought_tickets.css";
@import "client/qr.css";
@import "client/toggle_btn.css";
@import "client/rating.css";
@import "notification.css";
@import "colors.css";

/* CSS COLORS */
:root {
    --indigo-6: #E0CFFC;
    --dark-grey: #323232;
    --dark-bg: #27282B;
    --dark-bg-2: #38393b;

    --maxwidth: auto;
}

a {
    text-decoration: none;
    color: white;
}

body {
    /*position: relative;*/
    font-size: 1rem;
}

/* Signup Page Styles */

.form-container {
    display: flex;
    justify-content: center;
}

.form-container form {
    min-width: 250px;
    max-width: 300px;
    background-color: rgba(102, 16, 242, 0.4);
    padding: 25px;
    border-radius: 5px;
    gap: 20px;
}

/* Form Styles */
form {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    height: fit-content;
}

form div{
    width: 100%;
}

.form-input label {
    font-family: Poppins, serif;
    font-size: 1em;
}

.input-field {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--indigo-6);
    padding: 10px;
    font-size: 15px;
}

input[type=checkbox] {
    margin: 5px 5px 5px 0;
}

.form-button {
    display: flex;
    justify-content: center;
}

input[type=submit] {
    background-color: var(--status-pending);
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    width: 75%;
    border-radius: 10px;
    border: none;
}

input[type=submit]:hover {
    cursor: pointer;
}

/* Styles for Errors */

.error-msg {
    color: var(--status-error);
    font-size: small;
}

.error-border {
    border: 1px solid var(--status-error);
}

.ok-border {
    border: 1px solid var(--status-approve);
}

.icon {
    width: 35px;
    height: 35px;
}