.main-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr auto;
    /*background-color: lightgray;*/
}

.auth-page {
    grid-template-rows: auto 1fr;
}

main {
    grid-column: span 12;
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
}

main > section {
    grid-row: span 2;
}

.user {
    display: flex;
    gap: 20px;
}

.ji-c {justify-content: center}
.ai-c {align-items: center}

.cols-1 {grid-column: span 1}
.cols-2 {grid-column: span 2}
.cols-3 {grid-column: span 3}
.cols-4 {grid-column: span 4}
.cols-5 {grid-column: span 5}
.cols-6 {grid-column: span 6}
.cols-7 {grid-column: span 7}
.cols-8 {grid-column: span 8}
.cols-9 {grid-column: span 9}
.cols-10 {grid-column: span 10}
.cols-11 {grid-column: span 11}
.cols-12 {grid-column: span 12}

.rows-1 {grid-row: span 1}
.rows-2 {grid-row: span 2}
.rows-3 {grid-row: span 3}
.rows-4 {grid-row: span 4}
.rows-5 {grid-row: span 5}
.rows-6 {grid-row: span 6}
.rows-7 {grid-row: span 7}
.rows-8 {grid-row: span 8}
.rows-9 {grid-row: span 9}
.rows-10 {grid-row: span 10}
.rows-11 {grid-row: span 11}
.rows-12 {grid-row: span 12}