#logo {
    font-weight: bold;
    font-size: 1.2rem;
}

header > a {
    padding: 10px;
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

header div.user {
    padding: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
}



#logout, #login {
    background-color: var(--indigo-2);
}

#signup {
    border: 2px solid var(--indigo-2);
}