body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: black;
    height: 100vh;
}

main {
    background: white url("../images/bg3.jpg") no-repeat fixed;
    background-size: cover;
    background-clip: border-box;

}

/* START OF STYLES FOR ALL AD COMPONENTS */
@media screen and (max-width: 700px) {
    #sub-container > div {
        width: 100%;
    }

    #sub-container {
        display: flex;
        flex-direction: column;
    }

    #sub-container div {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #main-container {
        align-items: center;
        justify-content: center;
    }

}

@media screen and (min-width: 700px) {
    #sub-container {
        display: flex;
    }

}
/* END OF STYLES FOR ALL AD COMPONENTS */