/* Profile Details Page */

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.profile-image-2 {
  width: 125px;
  height: 125px;
  border-radius: 100px;
}

.venue-image {
  width: 200px;
  height: 125px;
  border-radius: 20px;
}

.card-profile {
  transition: 0.5s;
}

.card-profile:hover {
  transform: scale(1.025);
}

.card-profile img {
  transition: 0.5s;
}

.card-profile:hover img {
  border-radius: 5px;
}

.profile-details {
  min-width: 400px;
}

.profile-container {
  width: 400px;
  margin: 120px auto 120px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}

.profile-container .avatar {
  border-radius: 100px;
  overflow: visible;
  height: 100px;
  width: 150px;
  position: relative;
  margin: 0 auto;
  top: -70px;
}

.profile-container .avatar img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
}

.profile-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.profile-container h4 {
  font-size: 0.9rem;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px
}

.profile-container p {
  font-size: 0.8rem;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}

.profile-container button {
    color: white;
    background-color: cornflowerblue;
    font-size: 1.0rem;
    font-weight: bold;
}


/* Profile Edit Page */

.profile-container-2 {
  /*margin: 10px;*/
  background-color: rgba(255, 255, 255, 0.5);
  /*padding: 10px;*/
  border-radius: 6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* START => Profile Input Type - 02 */

.profile-input-2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: fit-content;
  padding: 0;
}

.profile-input-2 label {
  text-align: left;
}

.profile-input-2 input, textarea {
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
  font-size: medium;
  font-family: calibri, serif;
  transition: 0.5s;
  min-width: 300px;
}

.profile-input-2 input:focus, textarea:focus {
  outline: none;
  border-color: cornflowerblue;
  box-shadow: 0 0 10px cornflowerblue;
}

/* END => Profile Input Type - 02 */

/* Profile Input Type - 01 */
.profile-input {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*gap: 50px;*/
  padding: 15px 0 5px 0;
  font-size: 0.8rem;
}

.profile-container-2 div > label:first-of-type {
  /*text-align: right;*/
  text-align: left;
  width: 100%;
  color: var(--font-secondary);
  font-weight: bold;
}

.profile-input input {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
  font-size: medium;
  font-family: calibri, serif;
  transition: 0.5s;
}

.profile-input input:focus {
  outline: none;
  border-color: cornflowerblue;
  box-shadow: 0 0 10px cornflowerblue;
}

.profile-container-2 input[type=submit] {
  background-color: cornflowerblue;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
}

.profile-container-2 input[type=submit]:hover {
  background-color: transparent;
  color: cornflowerblue;
}

.btn-anima-hover {
  transition: 0.5s;
}

.btn-anima-hover:hover {
  transform: scale(1.1);
  cursor: pointer;
  border-color: var(--indigo-2);
  color: var(--indigo-2);
  background-color: transparent;
}


/* Upload Button Styles */

.upload-btn {
  background-color: cornflowerblue;
  border-radius: 5px;
  padding: 0px;
  fill: white;
}

.upload-btn:hover {
  cursor: pointer;
}

/* Change Password Page Styles */

.change-pass {
  display: flex;
  align-items: center;
}

/* Profile Settings Page */

.profile-settings > form {
  max-width: 300px;
}

/* START OF NEW PROFILE STYLES */

#profile-overview {
  border-radius: 10px;
  width: 100%;
  display: grid;
  background-color: rgba(255, 255, 255, 0.75);
}

@media screen and (min-width: 1000px) {
  #profile-overview {
    grid-template-columns: 180px 500px auto;
  }

  #profile-overview div#profile-general {
    border-left: 2px solid aqua;
    border-right: 2px solid hotpink ;
  }
}

@media screen and (max-width: 1000px) {
  #profile-overview {
    grid-template-rows: auto auto auto;
    justify-items: center;
  }

  #profile-overview div#profile-general {
    border-top: 2px solid aqua;
    border-bottom: 2px solid hotpink ;
    width: 100%;
  }

  #profile-overview div#profile-usertype {
    width: 100%;
  }
}

div#profile-image {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  width: 100%;
}

div#profile-general {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div#profile-usertype {
  padding: 20px;
}

div#profile-general > div {
  display: grid;
  width: 100%;
  height: 40px;
  grid-template-columns: 200px auto;
}

div#profile-general > div > h3 {
  text-align: left;
}

#profile-overview div#profile-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

#profile-overview > h2 {
  background-color: blue;
}

#profile-overview > div {

}

/* END OF NEW PROFILE STYLES */