.sidebar {
  width: 38px;
  height: 100%;
  /*position: relative;*/
  background-color: var(--purple-primary);
  z-index: 10;
  transition: 0.3s ease;

  .nav-list {
    height: 100%;
    /*padding: 5px;*/
    display: flex;
    flex-direction: column;


    li:first-child.collapse-button {

      &.active:after {
        content: "";
      }

      &:after {
        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15'><path d='M0,15 A15,15 0 0,0 15,0 L15,15 Z' fill='%235809ab'/></svg>");
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        transform: rotate(180deg) translateX(-100%);
      }
    }

    li.nav-item {
      position: relative;
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 10px 0 10px 5px;
      border-radius: 20px 0 0 20px;

      /* For active sidebar when the side bar is in collapsed state */
      &.activated {
        background: var(--white-link);

        svg,
        span {
          color: var(--font-primary);
        }

        &:after {
          content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><path d='M0,20 A20,20 0 0,0 20,0 L20,20 Z' fill='%23d9daf3'/></svg>");
          width: 20px;
          height: 20px;
          position: absolute;
          top: 100%;
          right: 0;
          z-index: 10;
          transform: rotate(-90deg);
        }

        &:before {
          content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><path d='M0,20 A20,20 0 0,0 20,0 L20,20 Z' fill='%23d9daf3'/></svg>");
          width: 20px;
          height: 20px;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 10;
          transform: translate(0, -43px);
        }
      }

      &:hover {
        cursor: pointer;
        background-color: var(--white-link) !important;

        span, svg {
          color: var(--font-primary);
        }

        &:after {
          content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><path d='M0,20 A20,20 0 0,0 20,0 L20,20 Z' fill='%23d9daf3'/></svg>");
          width: 20px;
          height: 20px;
          position: absolute;
          top: 100%;
          right: 0;
          z-index: 10;
          transform: rotate(-90deg);
        }

        &:before {
          content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><path d='M0,20 A20,20 0 0,0 20,0 L20,20 Z' fill='%23d9daf3'/></svg>");
          width: 20px;
          height: 20px;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 10;
          transform: translate(0, -43px);
        }
      }
    }

    li.nav-item {
      width: 100%;


      svg {
        /*fill: white;*/
        color: white;
      }

      span {
        height: 100%;
        width: 134px;
        position: absolute;
        top: 0;
        left: 40px;
        display: none;
        align-items: center;
        color: white;
      }
    }
  }

  /* AFTER opening the sidebar */
  &.open {
    width: 175px;

    .nav-list {
      /*background-color: var(--purple-dark);*/

      li.nav-item {

        /* For active sidebar when the side bar is in opened state */
        &.activated {
          background: linear-gradient(90deg, var(--purple-secondary) 50%, var(--white-link) 85%);

          svg,
          span {
            color: var(--font-secondary);
          }

          &:after {
            content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><path d='M0,20 A20,20 0 0,0 20,0 L20,20 Z' fill='%23d9daf3'/></svg>");
            width: 20px;
            height: 20px;
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 10;
            transform: rotate(-90deg);
          }

          &:before {
            content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><path d='M0,20 A20,20 0 0,0 20,0 L20,20 Z' fill='%23d9daf3'/></svg>");
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;
            transform: translate(0, -43px);
          }
        }
      }


      li.nav-item span {
        display: flex;
      }
    }
  }

  /* ULs under the nav-list */
  ul {
    display: none;
    flex-direction: column;
  }

  ul.active {
    display: flex;
  }
}