/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }




/* START OF COMPLAINT - BUTTON */

  .complain-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--status-pending);
    fill: white;
    color: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    transition: 0.5s;
    overflow: hidden;
  }

  .complain-btn div {
    display: flex;
    overflow: hidden;
    align-items: center;
    gap:10px;
  }

  .complain-btn svg {
    transition: 0.5s ease;
  }

  .complain-btn p {
    transition: 0.5s;
    transition-delay: 1s;
    display: none;
  }

  .complain-btn:hover {
    width: 160px;
  }

  .complain-btn:hover p {
    display: block;
  }

  .complain-btn:hover svg {
    transform: rotate(180deg);
  }

/* END OF COMPLAINT - BUTTON */