/* Calender Styles */

:root {
    --calender-text: black;
    --calender-inactive: grey;
}

.calander-component{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    padding: 10px;
    border-radius: 10px;
}

.calander-component .calender-header{
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px 10px 0 0;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.calender-header .icons{
  display: flex;
}

.calender-header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.0rem;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child{
  margin-right: -10px;
}

.calender-header .icons span:hover{
  background: #f2f2f2;
}

.calender-header .current-date{
  font-size: 1.1rem;
  font-weight: 500;
}

.calendar{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 10px 10px;
}

.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days{
  margin-bottom: 20px;
}

.calendar li{
  color: var(--calender-text);
  width: calc(100% / 7);
  font-size: 0.9rem;
}

.calendar .weeks li{
  font-weight: bold;
  cursor: default;
}

.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 25px;
}

.days li.inactive{
  color: var(--calender-inactive);
}

.days li.active{
  color: white;
}

.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before{
  background: var(--indigo-2);
}

.days li:not(.active):hover::before{
  background: #f2f2f2;
}

/* Styles for Event Listing */
.event-image {
  max-height: 150px;
  width: 250px;
}

.event-cover-image {
  height: auto;
}

.event-card {
  flex-wrap: wrap;
  transition: 0.5s;
}

.event-card:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}


/* POPUP STYLES */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 2px solid var(--indigo-2);
  z-index: 5;
  border-radius: 10px;
  background-color: white;
  min-width: 400px;
  max-width: 80%;
  max-height: 80%;
  transition: 200ms ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--indigo-2);
  color: white;
  position: sticky;
  top: 0;
}

.modal-header .title {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Mooli, sans-serif;
}

.modal-header .modal-close-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  margin-right: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px;
  font-size: 0.9rem;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  pointer-events: none;
  opacity: 0;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}