/* Calender Styles */

:root {
    --calender-text: black;
    --calender-inactive: grey;
}

.calander-component{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    padding: 10px;
    border-radius: 10px;
}

.calander-component .calender-header{
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px 10px 0 0;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.calender-header .icons{
  display: flex;
}

.calender-header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.0rem;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child{
  margin-right: -10px;
}

.calender-header .icons span:hover{
  background: #f2f2f2;
}

.calender-header .current-date{
  font-size: 1.1rem;
  font-weight: 500;
}

.calendar{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 10px 10px;
}

.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days{
  margin-bottom: 20px;
}

.calendar li{
  color: var(--calender-text);
  width: calc(100% / 7);
  font-size: 0.9rem;
}

.calendar .weeks li{
  font-weight: bold;
  cursor: default;
}

.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 25px;
}

.days li.inactive{
  color: var(--calender-inactive);
}

.days li.active{
  color: white;
}

.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before{
  background: var(--indigo-2);
}

.days li:not(.active):hover::before{
  background: #f2f2f2;
}

/* Styles for Event Listing */
.event-image {
  max-height: 150px;
  width: 250px;
}

.event-card {
  width: 250px;
  height: 350px;
  flex-wrap: wrap;
}