.ticket-form {
    width: 100%;
    color: black;
}

.ticket-form form {
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.ticket-form form legend {
    color: black;
}

.ticket-form form fieldset {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

.ticket-form form fieldset label {
    color: black;
}

/* Styling related to pages/ads */
.ads {
    transition: 0.5s;
    color: black;
    border: 1px solid transparent;
}

.ads:hover .profile {
    border-radius: 5px;
}

/*.ads:hover {*/
/*    cursor: pointer;*/
/*    transform: scale(1.005);*/
/*    box-shadow: 0 3px 8px rgba(0,0,0,0.3);*/
/*}*/

/*.ads:hover .promotions > p {*/
/*    display: block;*/
/*}*/

/*.ads:hover .promotions {*/
/*    background-color: mediumpurple;*/
/*    width: 100%;*/
/*}*/

.promotion-parent {
    height: 100%;
    width: 100%;
    justify-content: right;
}

.promotions {
    height: 100%;
    width: 0;
    transition: 0.5s ease-in;
    border-radius: 20px 0 0 20px;
}

.promotions > p {
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: Poppins, serif;
    text-align: center;
    transition: 0.1s ease;
    transition-delay: 0.75s;
}

.ads div p {
    max-lines: 2;
    overflow: hidden;
}

.profile {
    transition: 0.4s;
}