/*cards style*/
.cards > div {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 50px;
    background-color: white;
    width: 100%;
}

.cards .card .numbers {
    font-size: 2.5em;
}

.cards .card .cardname {
    font-size: 1.4em;
}

.cards .card .iconbox {
    display: block;
    font-size: 2.5em;
}

.cards .card:hover {
    background-image: linear-gradient(to right, #7d38ff, #be9bf8);;
}

.cards .card .numbers,
.cards .card .cardname {
    font-weight: 500;
}

.cards .card:hover .numbers,
.cards .card:hover .cardname,
.cards .card:hover .iconbox {
    color: #ffffff;
}

/*down group styles  */
.details > div {
    display: flex;
    border-radius: 10px;
    padding: 20px;
    font-weight: 500;
    background-color: white;
    width: 100%;
}

.details .cardheader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 10px;
    margin-bottom: 10px;
}

.details .cardheader a.btn {
    /*justify-content: space-between;*/
    /*align-items: flex-start;*/
    /*position: relative;*/
    /*align-items: flex-end;*/
    padding: 5px 10px;
    color: black;
    background: #823dff;
    border-radius: 10px;
    border: 0.5px solid black;
}

.details .cardheader a.btn:hover {
    box-shadow: 3px 5px 9px #c8aaff;
}

.details .extra {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 18px #c8aaff;
    transition: border-left 0.3s ease;

}


.details .extra table tbody .ass {
    background: rgba(255, 206, 86, 1);
    padding: 1px 70px;
    border-radius: 100px;
    border: 0.5px solid black;
}

.details .extra table tbody .hand {
    background: #00b6fd;
    padding: 1px 70px;
    border-radius: 100px;
    border: 0.5px solid black;
}

.details .extra table tbody .acc {
    background: #23e540;
    padding: 1px 70px;
    border-radius: 100px;
    border: 0.5px solid black;
}

.details .extra table tbody .idl {
    background: #ff3c42;
    padding: 1px 70px;
    border-radius: 100px;
    border: 0.5px solid black;
}

table tbody tr td:nth-child(1) {
    padding-left: 12px;
    text-align: left;
}

table tbody tr td:nth-child(2) {
    text-align: center;
}

.details .extra table thead tr td {
    text-align: center;
    /*border-radius: 100px;*/
    font-weight: bold;
}

.details .extra table {
    border-collapse: separate; /* Separate borders */
    border-spacing: 0 10px; /* Set the vertical (top/bottom) spacing to 10px */
}


.details .extra:hover {
    /*background-image: linear-gradient(to right, #b394ff,#f6f6f6);*/
    border-left: 8px solid #5b00ee;
    /*background-color: #00baff;*/

}

/*charts style*/
.charts > div {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    font-weight: 500;
    background-color: #ffffff;
    width: 100%;
}

.charts .box {
    background-color: #ffffff;
    /*box-shadow: 5px 10px 18px #c8aaff;*/
}

.charts .box:hover {
    /*background-color: #5b00ee;*/
    box-shadow: 5px 10px 18px #c8aaff;
}

.box .chartcontainer {
    width: 400px;
}

.box {
    align-items: center;
    justify-content: center;
}

/*.details .cardheader .chbtn{*/
/*    border-bottom: 8px solid #007afa;*/
/*}*/