.ad {
    width: 325px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    min-height: 450px;
    max-height: 500px;
}

.ad div {
    width: 100%;
}

.ad div.stars > span {
    font-size: 1.5rem;
    color: goldenrod;
}

.ad div.stars > p {
    font-weight: bold;
    color: slategray;
    font-size: 1.1rem;
}

.ad svg {
    fill: rebeccapurple;
    min-width: 24px;
    width: 24px;
    height: 24px;
    min-height: 24px;
}

.ad div.top img {
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 5px;
}

.ad div.top {
    padding: 10px;
    display: flex;
}

.ad div.top > div:nth-child(1) {
    flex: 1;
    justify-content: left;
    gap: 5px;
}

.ad div.horizontal {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.ad div.vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.ad div.bottom {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.ad div.bottom > div.horizontal:nth-child(1) {
    width: 100%;
}

.ad div.bottom > div.horizontal:nth-child(2) {
    width: 100%;
    justify-content: space-between;
}

/* -------- Styles for Profile visibility and Past Events --------- */
.js-left-text,
.js-right-text {
    font-size: 12px;
    font-weight: bold;
    color: grey;
}

.toggle-button-cover {
    margin-top: 10px;
    background-color: transparent;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 100%;*/
    width: 200px;
    height: fit-content;
    box-sizing: border-box;
}

.button-cover {
    height: fit-content;
    border-radius: 4px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items:center;
    color: var(--font-primary);
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover,
.knobs,
.layer {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
}

.button {
    background-color: var(--white-link);
    position: relative;
    width: 74px;
    height: 36px;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
    width: 75px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: var(--white-link);
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 3 */
#button-3 .knobs:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: var(--purple-secondary);
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before {
    content: "";
    left: 42px;
    background-color: #f44336;
}

#button-3 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
}