.form-style {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;


    input,
    textarea,
    select,
    option {
        padding: 10px 10px 10px 20px;
        border-radius: 5px;
        border: thin solid gray;
        outline: none;
        margin-bottom: 10px;
        resize: none;
    }

    textarea {
        height: 80px;
    }

    label {
        font-family: Poppins, sans-serif;
        color: var(--font-primary);
        display: flex;
        gap: 10px;
        align-items: center;

        svg {
            width: 30px;
            aspect-ratio: 1/1;
        }
    }

    .contains-svg label {
        margin-bottom: 5px;
    }

    .image-upload {
        position: relative;
        width: fit-content;

        img {
            border-radius: 5px;
        }

        & div {
            position: absolute;
            background-color: var(--dark-bg);
            bottom: -5px;
            right: -5px;
            width: fit-content;
            aspect-ratio: 1/1;
            padding: 10px;
            border-radius: 5px;
        }
    }


    .horizontal-group {
        display: flex;
        width: 100%;
        gap:20px;
        align-items: center;
        /*justify-content: start;*/
    }

    @media screen and (max-width: 900px) {
        .horizontal-group {
            flex-direction: column;
        }
    }

    .group-content {
        display: flex;
        flex-direction: column;
    }
}