.component-list {
    /*border-radius: 1px;*/
    border: 1px solid grey;
}

.component-list > div {
    display: grid;
    grid-template-rows: auto;
    font-family: "PT Sans", Poppins, sans-serif;
    background-color: var(--bg-primary);
    grid-template-columns: auto 200px 150px 150px 150px;
    padding: 10px;
    min-height: 50px;
    align-items: center;
    border-bottom: 1px solid var(--line-secondary);
}

.component-list > div.reservations {
    grid-template-columns: auto 200px 150px 250px 150px;
}

.component-list > div.requests {
    grid-template-columns: auto 200px 150px 150px 150px;
}

.component-list > div:hover {
    background-color: ghostwhite;
    /*color: var(--font-secondary);*/
    /*font-weight: bold;*/
}

.component-list > div:hover button {
    /*color: white;*/
    /*font-weight: bolder;*/
}

.component-list > div:first-child:hover {
    background-color: var(--bg-primary);
    color: var(--font-primary);
}

.component-list > div > p:last-child {border-right: none;}

.component-list > div > p {
    /*border-right: 1px solid var(--line-secondary);*/
    padding: 5px;
}

.component-list > div:first-child {
    font-weight: 600;
    font-size: 1.05rem;
}

.status {
    width: 100%;
    display: flex;
    justify-content: center;
}

.status > span {
    background-color: grey;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: var(--font-secondary);
}

.status.pending > span {background-color: #109CF1;}
.status.declined > span {background-color: #FF3B47;}
.status.expired > span {background-color: coral;}
.status.accepted > span {background-color: green;}


.component-list .action-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: all 0.5s ease;
}

.component-list .action-btn button {
    border: 1px solid black;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}


.component-list .action-btn button:hover {border: 1px solid transparent;}
.component-list .action-btn button:hover {color: white; background-color: #007afa;}


/* START OF Accept, Deny, Details and Chat button styles */

.action-btn button.chat-btn svg {color: #00baff;}
.action-btn button.chat-btn {border: 1px solid #00baff; transition: 0.5s ease all; cursor: pointer}
.action-btn button.accept-btn svg {color: green;}
.action-btn button.accept-btn {border: 1px solid green; transition: 0.5s ease all; cursor: pointer}
.action-btn button.decline-btn svg {color: red;}
.action-btn button.decline-btn {border: 1px solid red; transition: 0.5s ease all; cursor: pointer}

.action-btn button.chat-btn:hover svg {color: white;}
.action-btn button.chat-btn:hover {background-color: #00baff; color: white; font-weight: bold}
.action-btn button.accept-btn:hover svg {color: white;}
.action-btn button.accept-btn:hover {background-color: green; color: white; font-weight: bold}
.action-btn button.decline-btn:hover svg {color: white;}
.action-btn button.decline-btn:hover {background-color: red; color: white; font-weight: bold}

/* END OF Accept, Deny, Details and Chat button styles */