.reservation,
.requests {
    background: var(--bg-primary);
    display: flex;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.reservation,
.requests {
    display: grid;
}

.reservation .heading {grid-area: heading}
.reservation .interval {grid-area: interval}
.reservation .time {grid-area: time}
.reservation .location {grid-area: location}
.reservation .accept-btn {grid-area: accept-btn}

.requests .heading {grid-area: heading}
.requests .status {grid-area: status}
.requests .time {grid-area: time}
.requests .location {grid-area: location}
.requests .accept-btn {grid-area: accept-btn}

.reservation > div {
    gap: 10px;
}

@media screen and (min-width: 1035px) {
    .reservation {
        grid-template-columns: 150px 180px 120px 160px auto;
        grid-template-areas: "heading time location interval accept-btn";
    }

    .requests {
        grid-template-columns: 150px 180px 120px 160px auto;
        grid-template-areas: "heading time location status accept-btn";
    }
}

@media screen and (min-width: 575px) and (max-width: 1035px) {
    .reservation {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "heading interval accept-btn"
            "time location accept-btn"
        ;
    }

    .requests {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "heading time accept-btn"
            "location status accept-btn" ;
    }

    .requests .action-btn {
        grid-row: span 2;
    }

    .reservation > div,
    .requests > div {
        justify-content: left;
    }
}

@media screen and (max-width: 575px) {
    .reservation {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "heading heading"
            "time time"
            "interval interval"
            "location location"
            "accept-btn accept-btn" ;
    }

    .requests {

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "heading"
            "time"
            "location"
            "status"
            "accept-btn" ;
    }

    .reservation .heading,
    .requests .heading {
        text-align: center;
    }

    .reservation > div {
        justify-content: left;
    }
}


.reservation > div,
.requests > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation button {
    border: none;
    padding: 5px 10px;
    background: blueviolet;
    border-radius: 8px;
    transition: 0.2s;
    color: white;
}

.reservation button:hover {
    cursor: pointer;
    background: #00baff;

}

/* START OF COMPONENT STYLES */

.status {
    width: 100%;
    display: flex;
    justify-content: center;
}

.status > span {
    background-color: grey;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: var(--font-secondary);
}

.status.pending > span {background-color: #109CF1;}
.status.declined > span {background-color: #FF3B47;}
.status.expired > span {background-color: coral;}
.status.accepted > span {background-color: green;}


.requests .action-btn,
.reservation .action-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: all 0.5s ease;
}

.requests .action-btn button {
    border: 1px solid black;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

/* START OF Accept, Deny, Details and Chat button styles */

.action-btn button.chat-btn svg {color: #00baff;}
.action-btn button.chat-btn {border: 1px solid #00baff; transition: 0.5s ease all; cursor: pointer}
.action-btn button.accept-btn svg {color: green;}
.action-btn button.accept-btn {border: 1px solid green; transition: 0.5s ease all; cursor: pointer}
.action-btn button.decline-btn svg {color: red;}
.action-btn button.decline-btn {border: 1px solid red; transition: 0.5s ease all; cursor: pointer}

.action-btn button.chat-btn:hover svg {color: white;}
.action-btn button.chat-btn:hover {background-color: #00baff; color: white; font-weight: bold}
.action-btn button.accept-btn:hover svg {color: white;}
.action-btn button.accept-btn:hover {background-color: green; color: white; font-weight: bold}
.action-btn button.decline-btn:hover svg {color: white;}
.action-btn button.decline-btn:hover {background-color: red; color: white; font-weight: bold}

/* END OF Accept, Deny, Details and Chat button styles */