.venue-op-div {
    width: 100%;
    background-color: var(--bg-primary);
    color: var(--font-primary);
    display: grid;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.venue-op-div > h3 {
    font-weight: bold;
    font-size: 1.1em;
}

.venue-op-div > img {
    border-radius: 50%;
}

.venue-op-div > div > svg {
    min-width: fit-content;
}

.venue-op-div > div {
    display: flex;
    gap: 10px;
    align-items: center;
    /*justify-content: center;*/
}

.venue-op-div div  > p {
    display: inline;
}

.venue-op-div .circular-btn {
    aspect-ratio: 1/1;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    transition: 0.5s ease;
}

.venue-op-div .circular-btn svg {
    color: var(--font-primary);
    transition: 0.5s ease;
}

.venue-op-div .circular-btn.delete-btn:hover svg {color: darkred;}

.venue-op-div .circular-btn.update-btn:hover svg {color: deepskyblue;}

@media screen and (min-width: 950px) {
    .venue-op-div {
        grid-template-columns: 40px 150px 200px auto 100px;
    }

    .venue-op-div > img {
        height: 40px;
        width: auto;
    }
}

@media screen and (min-width: 540px) and (max-width: 950px) {
    .venue-op-div {
        /*justify-content: center;*/
        grid-template-columns: 40px 150px 150px auto;
        grid-template-rows: auto;
    }

    .venue-op-div > div.btn-collection {
        width: 100%;
        grid-column: 4;
        grid-row:  1 / span 2;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }

    .venue-op-div > div.assign-venue {
        grid-row: 1 / span 2;
        grid-column: 3;
    }

    .venue-op-div > div.location {
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    .venue-op-div > img {
        height: 40px;
        width: auto;
    }
}

@media screen and (max-width: 540px) {
    .venue-op-div {
        justify-items: center;
        grid-template-rows: auto;
    }

    .venue-op-div > div.location,
    .venue-op-div > div.btn-collection {
        min-width: 150px;
    }

    .venue-op-div > div.btn-collection {
        display: flex;
        justify-content: space-evenly;
    }

    .venue-op-div > img {
        height: 100px;
        width: auto;
    }
}