.user-update-form fieldset {
    min-width: 60%;
}

.user-update-form fieldset legend{
    padding: 0 5px;
}

.user-update-form fieldset > div.input-container {
    display: flex;
    gap: 20px;
}

.user-update-form fieldset > div.input-container > div {
    display: flex;
    flex-direction: column;
}

.user-update-form fieldset input {
    padding: 10px 20px;
}

@media screen and (max-width: 850px) {
    .user-update-form fieldset{
        min-width: 90%;
    }

    .user-update-form fieldset > div.input-container {
        display: flex;
        flex-direction: column;
    }
}


/* --------------------------------------PROFILE EDIT------------------------------------- */


@media screen and (min-width: 555px) {
    .profile-edit-form > div {
        min-width: 400px;
    }
}

@media screen and (max-width: 555px) {
    .profile-edit-form > div {
        min-width: 250px;
        width: 100%;
    }

    .profile-edit-form div:not(.p-img , .p-i-container, .button) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .profile-edit-form > div.p-i-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}



.profile-edit-form div:not(.p-img , .p-i-container, .button) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-edit-form > div.p-i-container {
    display: flex;
    gap: 10px;
}

.profile-edit-form input,
.profile-edit-form select {
    width: 100%;
    min-height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-family: "Poppins", sans-serif;
    outline: none;
}